Section 12: Event Management Usecase/participant.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.eventmanagement.com/event"
        xmlns:tns="http://www.eventmanagement.com/event"
        elementFormDefault="qualified">

    <complexType name="participant">
        <sequence>
            <element name="name" type="string"/>
            <element name="email" type="string"/>
            <element name="phone" type="string"/>
        </sequence>
    </complexType>

</schema>